ion-img {
    width: 185px;
    height: 185px;
    display: block;
    margin: auto;
    margin-top: 15%;
    border-radius: 25px !important;
    overflow: hidden;
}

  ion-content{
--ion-background-color: white;
}

ion-spinner {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
    margin-top: 25%;
  }