
<ion-content>
  <center><h1>Login</h1>
  <h4>Sign in to continue.</h4></center>
  <ion-item>
    <ion-label position="stacked">PLEASE ENTER YOUR EMAIL</ion-label>
    <ion-input placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">PLEASE ENTER YOUR PASSWORD</ion-label>
    <ion-input placeholder="Password"></ion-input>
  </ion-item>
  <ion-router-link href="forgotpass" class="forgotpassword">Forgot Password?</ion-router-link>
  <br><br><center><ion-button>login</ion-button></center>
</ion-content>
