<ion-content class="ion-padding">
  <ion-img src="./assets/icon/ingatlogo.png"></ion-img>
  <h1>Login</h1>
  <h3>Sign in to continue!</h3>

  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item fill="solid" class="ion-margin-bottom" >
    <ion-input type="email" placeholder= "Email" formControlName="email" ></ion-input>
    <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is Invalid!</ion-note>
  </ion-item>
<br>
  <ion-item fill="solid" class="ion-margin-bottom">
    <ion-input type="password" placeholder= "Password" formControlName="password" ></ion-input>
    <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note>
  </ion-item>
    <a routerLink="#" class="forgot-password-link">Forgot Password?</a>

    <ion-button type="submit"  [disabled]="!credentials.valid" expand='block'> Login</ion-button>
   
  </form>

  <p class="footer-text">Create a new account?<a routerLink="/register"> Sign Up</a></p>
</ion-content>