<ion-content class="ion-padding">
  <div class="wrapper"></div>
    <h1>Create Account,</h1>
    <h3>Sign up to get started!</h3>

  <!-- <form> -->
    <ion-item lines="none">
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" placeholder="First Name" ></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" placeholder="Last Name" ></ion-input>
      </ion-item>

      <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" placeholder="Email" ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="text" placeholder="Password" ></ion-input>
        </ion-item>
    <!-- <ion-input label="Confirm Password" type="password"></ion-input> -->


    <ion-button (click)="SignUp()">Register</ion-button>
  <!-- </form> -->
    </div>
</ion-content>

<p class="footer-text" (click)="gotosignin()">Already have an account? Sign In</a></p>