<ion-content>
  PROFILE (hehe yung taas ng profile di pa okay)
  <br><br><ion-item>
    <ion-icon name="call">
    </ion-icon><ion-label>&nbsp;&nbsp;09123456789</ion-label>
  </ion-item><br><br>
  <ion-item>
    <ion-icon name="mail">
    </ion-icon><ion-label>&nbsp;&nbsp;dummy@gmail.com</ion-label>
  </ion-item><br><br>
  <ion-item>
    <ion-icon name="location">
    </ion-icon><ion-label>&nbsp;&nbsp;111 Blk Street</ion-label>
  </ion-item><br><br>
  <ion-item>
    <ion-icon name="calendar">
    </ion-icon><ion-label>&nbsp;&nbsp;May 30, 2001</ion-label>
  </ion-item><br><br>
  <center><ion-button (click)="editp()">Edit Profile</ion-button></center>
</ion-content>
