<ion-content>
  PROFILE (hehe yung taas ng profile di pa okay)
  <br><br>

  <div class="profile">

    <ion-icon name="call" class="call">
    </ion-icon>
    <ion-label>&nbsp;&nbsp;09123456789</ion-label>

    <br><br>

    <ion-icon name="mail" class="mail">
    </ion-icon>
    <ion-label>&nbsp;&nbsp;dummy@gmail.com</ion-label>

    <br><br>

    <ion-icon name="location" class="location">
    </ion-icon>
    <ion-label>&nbsp;&nbsp;111 Blk Street</ion-label>

    <br><br>

    <ion-icon name="calendar" class="calendar">
    </ion-icon>
    <ion-label>&nbsp;&nbsp;May 30, 2001</ion-label>

    <br><br>

  </div>

  <center><ion-button color="danger">Edit Profile</ion-button>
  </center>

</ion-content>
