<ion-content>

<div class="settings">

  
    <ion-icon name="close-outline"></ion-icon>
    <ion-label>&nbsp;Settings</ion-label><div>
 
      <div class="settingss">
      <br><br><br>

    <ion-icon name="notifications">
    </ion-icon><ion-label>&nbsp;&nbsp;Notifications</ion-label>
    
    <br><br>
    
    <ion-icon name="shield-checkmark"></ion-icon>
    <ion-label>&nbsp;&nbsp;Permissions</ion-label>
    
    <br><br>
    
    <ion-icon name="reader"></ion-icon>
    <ion-label>&nbsp;&nbsp;Terms and Conditions</ion-label>
    
    <br><br>
    
    <ion-icon name="alert-circle"></ion-icon>
    <ion-label>&nbsp;&nbsp;About</ion-label>
    
    <br><br>
    
    <ion-icon name="help-circle"></ion-icon>
    <ion-label>&nbsp;&nbsp;Help</ion-label>
    
    <br><br>
    
    <ion-icon name="log-out"></ion-icon>
    <ion-label>&nbsp;&nbsp;Logout</ion-label>

  </div>

</ion-content>
